<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detalhes do Pet</title>
</head>
<body>
  <% if (details) { %> 
    <%= details.id %>
    <%= details.name %>
    <%= details.species %>
    <%= details.breed %>
    <%= details.place %>
    <%= details.color %>
    <%= details.sex %>
    <%= details.age %>
    <%= details.description %>
    <%= details.habits %>
    <%= details.allergies %>
    <%= details.fears %>
    <%= details.pictureId %>
    <%= details.user %>
  <% } else { %>
    <h1>Não foi possível encontrar o pet</h1>
  <% } %>
</body>
</html>

